@import "../_variables.scss";
@import "../_mixins.scss";
@import "../_placeholders.scss";

.info {
  width: 100%;
  color: $text-color-1;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: calc(100vh - 95px);
  align-items: center;
  justify-items: center;

  @media screen and (min-width: 768px) {
    grid-template-columns: auto 1fr;
  }

  @media screen and (min-width: 1023px) {
    grid-template-columns: auto 1fr;
  }

  h2 {
    grid-column-start: 1;
    align-self: start;
    @extend %h2-vert;
  }

  .info-cont {
    grid-column-start: 2;
    width: 100%;
    padding-right: 30px;
    align-self: start;
    margin-top: 20vh;

    
    @media screen and (min-width: 768px) {
      padding-right: 100px;
    }

    @media screen and (min-width: 1023px) {
      padding-right: 150px;
    }
  }

  .background {
    z-index: -1;
    position: absolute;
    min-height: calc(100vh - 80px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .right-background {
      grid-column-start: 2;
      align-self: center;
      justify-self: start;
      margin: 0 0 70px -40px;
      height: 80%;
      width: 85%;
      background-color: $content-background-color-4;
    }
  }
}