@import "/src/styles/_variables";
@import "/src/styles/_placeholders";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $background-color-1;
  font-family: $font-family-1-poppin;
  width: 100vw;
}

body {
  user-select: none;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  // overflow-y: scroll; 
  // overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

