@import "../_variables.scss";
@import "../_mixins.scss";
@import "../_placeholders.scss";

.navbar {
  // border: 1px solid red;
  
  height: 60px;
  margin: 10px 20px;
  background-color: transparent;
  text-transform: uppercase;
  color: $text-color-1;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 769px) {
    margin: 10px 50px;
  }

  .nav-logo {
    margin-top: 5%;
    height: 80%;
    @media screen and (min-width: 769px) {
      margin-top: 0;
      height: 100%;
    }
  }

  .nav-links {
    flex-grow: 1;
    @extend %flex-align-center;
    justify-content: center;

    .link {
      height: 100%;
      list-style: none;
      letter-spacing: 0.02em;
      padding: 0 5px;
      margin: 0 3vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      
      a {
        @extend %transition-base;
        text-decoration: none ;
      }

      .underline {
        @extend %transition-base;
        position: absolute;
        bottom: 5px;
        width: 100%;
        border-top: 1px solid $text-color-hover-1;
      }
      
      &:hover a {
        color: $text-color-hover-1;
      }

      &:hover .underline {
        border-left: 1px solid $text-color-hover-1;
        animation: slidein 0.5s ease-in-out forwards;
      }
      
      &:not(:hover) .underline {
        animation: slideout 0.5s ease-in-out forwards;
      }
      
      @keyframes slidein {
        from {
          transform: scaleX(0);
          transform-origin: left;
        }
        to {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
      
      @keyframes slideout {
        from {
          transform: scaleX(1);
          transform-origin: right;
        }
        to {
          transform: scaleX(0);
          transform-origin: right;
        }
      }
    }
  }

  .nav-menu {
    @extend %transition-base;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: 0;
    padding: 0 5px;
    text-transform: uppercase;
    color: $text-color-1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:before {
      @extend %transition-base;
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $text-color-1;
      position: absolute;
      left: -1em;
      top: 40%;
    }
    
    &:hover {
      // transform: scale(0.5);
      color: $text-color-hover-1;
    }

    &:hover:before {
      transform: scale(0.7);
      transform-origin: center;
      background-color: $text-color-hover-1;
    }
  }
}