@import "/src/styles/_variables";
@import "/src/styles/_placeholders";

.navbar {
  height: 60px;
  margin: 10px 20px 0 20px;
  background-color: transparent;
  text-transform: uppercase;
  color: $text-color-1;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    margin: 10px 50px 0 50px;
  }

  .nav-logo {
    margin-top: 5%;
    height: 80%;
    @media screen and (min-width: 768px) {
      margin-top: 0;
      height: 100%;
    }
  }

  .nav-links {
    flex-grow: 1;
    @extend %flex-align-center;
    justify-content: center;

    .link {
      @extend %link;
    }
  }

  .nav-menu {
    @extend %btn-type-menu;
  }
}