@import "/src/styles/_variables";
@import "/src/styles/_placeholders";

.Toastify__toast {
  z-index: 9999;
  background-color: $background-color-1;
  border: 1px solid $background-color-3;
}

.Toastify__progress-bar-theme--light {
  background: $success-color;
}

.btn-close-overlay {
  width: 16px;
  height: 16px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 16px;
    background-color: $background-color-3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: ease-out 0.3s all;
  }
  &:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 16px;
    background-color: $background-color-3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: ease-out 0.3s all;
  }
  &:hover,
  &:focus,
  &:active {
    &:before {
      background-color: $background-color-3;
      transform: translate(-50%, -50%) rotate(135deg);
    }
    &:after {
      background-color: $background-color-3;
      transform: translate(-50%, -50%) rotate(225deg);
    }
  }
}

.toast-card {
  .header-toast {
    height: 30px;

    & img {
      position: relative;
      top: -8px;
      left: -8px;
      height: 36px;
      width: 36px;
    }
  }

  .content-toast {
    padding: 8px 16px;
  }
}