@import "../_variables.scss";
@import "../_mixins.scss";
@import "../_placeholders.scss";

.toggle {
  cursor: pointer;
  display: inline-block;

  .toggle-switch {
    display: inline-block;
    background: $border-color-1;
    border-radius: 5px;
    width: 25px;
    height: 2px;
    position: relative;
    vertical-align: middle;
  }

  .toggle-switch:before,
  .toggle-switch:after {
    content: "";
  }

  .toggle-switch:before {
    display: block;
    background: $content-background-color-6;
    border-radius: 50%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.2);
    width: 12px;
    height: 12px;
    position: absolute;
    top: -5px;
    left: -0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .toggle-checkbox:checked + .toggle-switch:before {
    left: 16px;
    background-color: $content-background-color-6;
  }

  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .toggle-label {
    font-family: $font-family-1-poppin;
    font-size: 1em;
    margin-left: 12px;
    position: relative;
  }
}
